.macbook-pro {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .macbook-pro .div {
    background-color: #ffffff;
    width: 1512px;
    height: 982px;
    position: relative;
  }
  
  .macbook-pro .overlap {
    display: flex;
    width: 1512px;
    height: 120px;
    top: 0;
    left: 0;
    background-color: #746e6e;
  }
  
  .macbook-pro .text-wrapper {
    position: absolute;
    top: 58px;
    left: 670px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }

  .macbook-pro .text-wrapper-1 {
    position: absolute;
    top: 58px;
    left: 570px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .text-wrapper-2 {
    position: absolute;
    top: 58px;
    left: 799px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .text-wrapper-3 {
    position: absolute;
    top: 58px;
    left: 945px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .overlap-group {
    position: absolute;
    width: 150px;
    height: 52px;
    top: 48px;
    left: 513px;
  }
  
  .macbook-pro .frame {
    display: flex;
    width: 150px;
    height: 52px;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    gap: 10px;
    padding: 10px;
    position: absolute;
  }
  
  .macbook-pro .text-wrapper-4 {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .line {
    position: absolute;
    width: 23px;
    height: 1px;
    top: 40px;
    left: 64px;
    object-fit: cover;
  }
  
  .macbook-pro .gopan-secondstore {
    position: absolute;
    top: 33px;
    left: 120px;
    font-family: "Poller One-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .images {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 40px;
    left: 46px;
    object-fit: cover;
  }
  
  .macbook-pro .rectangle {
    position: absolute;
    width: 104px;
    height: 22px;
    top: 85px;
    left: 1364px;
    background-color: #d9d9d9;
    border-radius: 127.5px;
  }
  
  .macbook-pro .search {
    position: absolute;
    width: 34px;
    height: 31px;
    top: 79px;
    left: 1325px;
  }
  
  .macbook-pro .shopping-bag {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 82px;
    left: 1278px;
  }
  
  .macbook-pro .overlap-group-2 {
    display: flex;
    width: 1512px;
    height: 862px;
    top: 120px;
    left: 0;
    background-image: url(../IMG/Rectangle4.JPEG);
    background-size: cover;
    background-position: 50% 50%;
  }

  
  
  .macbook-pro .SELAMAT-DATANG-DI {
    position: absolute;
    width: 657px;
    top: 66px;
    left: 717px;
    font-family: "Passion One-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    margin-top: 80px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro .overlap-2 {
    position: absolute;
    margin-top: 80px;
    width: 467px;
    height: 136px;
    top: 73px;
    left: 55px;
  }
  
  .macbook-pro .rectangle-wrapper {
    display: flex;
    flex-direction: column;
    width: 458px;
    align-items: flex-start;
    top: 0;
    left: 0;
    gap: 10px;
    padding: 10px;
    position: absolute;
  }
  
  .macbook-pro .rectangle-2 {
    position: relative;
    width: 448px;
    height: 116px;
    margin-right: -10px;
    background-color: #999999;
  }
  
  .macbook-pro .ALLL-BRAND-SHOES-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 38px;
    left: 1px;
    gap: 10px;
    padding: 10px;
    position: absolute;
  }
  
  .macbook-pro .ALLL-BRAND-SHOES {
    position: relative;
    width: fit-content;
    margin-top: 5px;
    margin-left: 2rem;
    font-family: "Passion One-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .macbook-pro .img {
    position: absolute;
    width: 202px;
    height: 180px;
    top: 441px;
    left: 76px;
    object-fit: cover;
  }
  
  .macbook-pro .rectangle-3 {
    position: absolute;
    width: 200px;
    height: 178px;
    top: 288px;
    left: 734px;
    object-fit: cover;
  }
  
  .macbook-pro .rectangle-4 {
    position: absolute;
    width: 200px;
    height: 180px;
    top: 496px;
    left: 1210px;
    object-fit: cover;
  }
  
  .macbook-pro .rectangle-5 {
    position: absolute;
    width: 75px;
    height: 23px;
    top: -761px;
    left: 1437px;
    background-color: #d9d9d9;
  }
  