.macbook-pro3 {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .macbook-pro3 .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1512px;
    height: 982px;
    position: relative;
  }
  
  .macbook-pro3 .overlap-group {
    position: absolute;
    width: 1512px;
    height: 983px;
    top: 0;
    left: 0;
  }
  
  .macbook-pro3 .rectangle {
    position: absolute;
    width: 1512px;
    height: 124px;
    top: 0;
    left: 0;
    background-color: #ffffff;
  }
  
  .macbook-pro3 .text-wrapper {
    position: absolute;
    top: 62px;
    left: 684px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro3 .text-wrapper-2 {
    position: absolute;
    top: 62px;
    left: 813px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro3 .text-wrapper-3 {
    position: absolute;
    top: 58px;
    left: 931px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro3 .frame {
    display: flex;
    width: 150px;
    height: 52px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 52px;
    left: 527px;
  }
  
  .macbook-pro3 .text-wrapper-4 {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro3 .gopan-secondstore {
    position: absolute;
    top: 37px;
    left: 148px;
    font-family: "Poller One-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro3 .images {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 44px;
    left: 74px;
    object-fit: cover;
  }
  
  .macbook-pro3 .rectangle-2 {
    position: absolute;
    width: 104px;
    height: 22px;
    top: 85px;
    left: 1364px;
    background-color: #d9d9d9;
    border-radius: 127.5px;
  }
  
  .macbook-pro3 .line {
    width: 23px;
    height: 1px;
    top: 102px;
    left: 850px;
    position: absolute;
    object-fit: cover;
  }
  
  .macbook-pro3 .search {
    position: absolute;
    width: 34px;
    height: 31px;
    top: 79px;
    left: 1325px;
  }
  
  .macbook-pro3 .shopping-bag {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 82px;
    left: 1278px;
  }
  
  .macbook-pro3 .rectangle-3 {
    position: absolute;
    width: 1512px;
    height: 863px;
    top: 120px;
    left: 0;
    background-color: #d9d9d9;
  }
  
  .macbook-pro3 .text-wrapper-5 {
    position: absolute;
    top: 708px;
    left: 500px;
    font-family: "Palanquin Dark-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro3 .text-wrapper-6 {
    top: 742px;
    left: 500px;
    font-family: "Palanquin Dark-Regular", Helvetica;
    font-size: 16px;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro3 .text-wrapper-7 {
    position: absolute;
    top: 772px;
    left: 500px;
    font-family: "Palanquin Dark-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro3 .text-wrapper-8 {
    position: absolute;
    width: 260px;
    top: 678px;
    left: 461px;
    font-family: "Palanquin Dark-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro3 .tempat-tanggal-lahir {
    position: absolute;
    width: 384px;
    top: 772px;
    left: 28px;
    font-family: "Palanquin Dark-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro3 .apakah-ada-yang-bisa {
    position: absolute;
    width: 509px;
    top: 145px;
    left: 500px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro3 .img {
    position: absolute;
    width: 388px;
    height: 405px;
    top: 288px;
    left: 0;
    object-fit: cover;
  }
  
  .macbook-pro3 .ellipse {
    position: absolute;
    width: 1124px;
    height: 291px;
    top: 288px;
    left: 388px;
  }
  
  .macbook-pro3 .hallo-semua-nama {
    position: absolute;
    width: 888px;
    top: 377px;
    left: 500px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro3 .text-wrapper-9 {
    top: 692px;
    left: 28px;
    font-family: "Passion One-Regular", Helvetica;
    font-size: 32px;
    text-align: right;
    white-space: nowrap;
    position: absolute;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro3 .text-wrapper-10 {
    position: absolute;
    top: 727px;
    left: 88px;
    font-family: "Palanquin Dark-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro3 .p {
    position: absolute;
    top: 179px;
    left: 482px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .macbook-pro3 .line-2 {
    width: 482px;
    height: 232px;
    top: 120px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .macbook-pro3 .line-3 {
    width: 226px;
    height: 189px;
    top: 130px;
    left: 1286px;
    position: absolute;
    object-fit: cover;
  }
  
  .macbook-pro3 .line-4 {
    width: 991px;
    height: 404px;
    top: 578px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .macbook-pro3 .polygon {
    position: absolute;
    width: 932px;
    height: 75px;
    top: 883px;
    left: 484px;
  }
  
  .macbook-pro3 .rectangle-4 {
    position: absolute;
    width: 75px;
    height: 23px;
    top: -761px;
    left: 1437px;
    background-color: #d9d9d9;
  }
  